.currentLocationWeather-box
    width: 30em
    height: 20em
    margin-top: 20px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid black
    border-radius: 5px

.currentLocationWeather-box__container
    margin-left: 20px
    padding: 10px
    border: 1px solid black
    h2
        margin: 10px 0 0 0
    h1
        margin: 0

.currentLocationWeather-box__container-location
    border: 1px solid black
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 0

.currentLocationWeather-box__container-temp
    display: flex
    justify-content: flex-start
    align-items: flex-start
    flex-direction: column
    padding: 0
    margin: 0
    p
        margin: 0.25em
        border: 1px solid black
    &:first-child
        

.weatherTemp
    font-size: 2em
    width: 100%
    align-self: center
    justify-self: center
    text-align: center
    font-weight: bolder