@import './curentLocationWeather.sass'
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap')


*
    box-sizing: border-box
    font-family: 'Montserrat', sans-serif

body
    margin: 0
    padding: 0
    display: flex
    align-items: center
    justify-content: center

.root
    display: flex
    justify-content: center
    align-items: center